<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

    <properties>
        <title>Ferris Resiste</title>
        <author email="mjremijan@yahoo.com">Michael Remijan</author>
    </properties>

    <!-- Optional HEAD element, which is copied as is into the XHTML <head> element
<head>
     <meta ... />
</head>
    -->

    <body>
        <section name="">
            <div id="twStart">
                <h2>Start Using Resiste</h2>
                <span class="nav-header">An RSS to email client</span>
                <a href="${project.scm.url}/releases/download/${project.build.finalName}/${project.build.finalName}-${ferrisWindowsAssemblyId}.zip">
                    <img src="images/windows-icon.png" />Download for Windows
                </a>
				&nbsp; &nbsp; &nbsp; &nbsp;
                <a href="${project.scm.url}/releases/download/${project.build.finalName}/${project.build.finalName}-${ferrisLinuxAssemblyId}.tar.gz">
                    <img src="images/linux-icon.png" />Download for Linux
                </a>
				&nbsp; &nbsp; &nbsp; &nbsp;
                <a href="${project.scm.url}">
                    <img src="images/octocat-icon.png" />Visit on GitHub
                </a>
            </div>
        </section>
		
        <section name="About">
            <p>
                Resiste...<br />
                <b>RE</b>ally <b>SI</b>mple <b>S</b>yndication <b>T</b>o <b>E</b>mail
            </p>
            <p>
                The purpose of Resiste is to be an all-purpose RSS-to-email client.
                Schedule Resiste to run at an interval of your choosing (15 minutes, 1 hour, etc.). 
                When Resiste runs, it will:
            </p>
            <ol>
                <li>Loop over each RSS/ATOM feed you've configured</li>
                <li>Determine the new posts since it last ran</li>
                <li>Email you the new posts</li>
            </ol>
        </section>

        <section name="Why">
            <p>
                You want an application like Resiste because it's the difference between 
                pulling information and pushing information.  RSS was created to pull information.
                Unfortunately, most email clients no longer support RSS.  I basically check only one thing
                all day, and that's my email.  If it comes to my inbox (i.e it's
                "pushed" to me) I'll read it and respond. However if it doesn't come to
                my inbox, it's very unlikely I'll remember to go get it (i.e. "pull" it to me).
                So this is why I created Resiste - to automatically "push" new posts to my inbox.			
            </p>
        </section>
    </body>
</document>